<div class="h-full flex flex-col">
    <nav class="h-full flex flex-col gap-4 px-2 duration-200 {{ collapsed ? 'w-[72px]' : 'w-60' }}">
        <div *ngFor="let navbarItem of navbarContent" class="flex flex-col gap-2 mb-2">
            <span
                *ngIf="navbarItem.title"
                class="flex m-0 pl-4 text-xs text-white-500 text-center uppercase duration-200 {{
                    collapsed ? 'opacity-0' : 'opacity-100'
                }}"
                >{{ navbarItem.title }}</span
            >
            <a
                *ngFor="let link of navbarItem.links"
                [routerLink]="[link.href]"
                routerLinkActive
                #activeLink="routerLinkActive"
                class="px-4 py-3 text-sm font-bold uppercase tracking-tighter border-2 rounded-lg duration-300 {{
                    activeLink.isActive
                        ? 'text-koromiko-300 border-koromiko-300'
                        : 'text-white-800 border-transparent hover:text-white-50'
                }}"
            >
                <div class="flex items-center">
                    <lucide-icon *ngIf="link.icon" name="{{ link.icon }}" class="size-5"></lucide-icon>
                    <span class="{{ collapsed ? 'w-0 ml-0 opacity-0' : 'w-auto ml-4 opacity-100' }}">{{
                        link.label
                    }}</span>
                </div>
            </a>
        </div>
    </nav>

    <div class="flex flex-row-reverse {{ collapsed ? 'justify-center' : '' }}">
        <button
            type="button"
            (click)="collapseNavbar()"
            class="text-white-50 p-4 flex flex-row-reverse items-center duration-300 {{
                collapsed ? 'rotate-180' : 'rotate-0'
            }}"
        >
            <lucide-icon name="chevrons-left" class="size-6"></lucide-icon>
        </button>
    </div>
</div>
