<div class="w-full flex items-center justify-end p-1.5">
    <div class="w-screen h-scw-screen px-4" style="-webkit-app-region: drag">Gênies</div>
    <button
        type="button"
        class="p-2 rounded-md text-koromiko-300 border-2 border-transparent hover:border-koromiko-300"
        (click)="minimize()"
    >
        <lucide-icon name="minus" class="size-4"></lucide-icon>
    </button>

    <button
        type="button"
        class="p-2 rounded-md text-koromiko-300 border-2 border-transparent hover:border-koromiko-300"
        (click)="maximize()"
    >
        <lucide-icon name="maximize" class="size-4"></lucide-icon>
    </button>

    <button
        type="button"
        class="p-2 rounded-md text-koromiko-300 border-2 border-transparent hover:border-koromiko-300"
        (click)="close()"
    >
        <lucide-icon name="x" class="size-4"></lucide-icon>
    </button>
</div>
